<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walk_right0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{10,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,16}</string>
                <key>textureRect</key>
                <string>{{1,19},{10,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{10,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>right.png</string>
            <key>size</key>
            <string>{12,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fb0379f5420db864b4ce7fadc70b966:b6bcd5a2b2373f9ac9619fc270d6cd62:eeed88a3defe439e06eddcb618ab96e1$</string>
            <key>textureFileName</key>
            <string>right.png</string>
        </dict>
    </dict>
</plist>
