<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Grass_8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,32}</string>
                <key>spriteSourceSize</key>
                <string>{96,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass_8_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{133,35},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass_8_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{151,35},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass_8_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{169,25},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass_8_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{63,35},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass_8_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{87,35},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass_8_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{167,1},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass_8_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{21,22}</string>
                <key>textureRect</key>
                <string>{{110,35},{21,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass_8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{99,1},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass_8_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{133,1},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass_8_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,60}</string>
                <key>spriteSourceSize</key>
                <string>{12,60}</string>
                <key>textureRect</key>
                <string>{{1,49},{12,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Grass_8_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{191,1},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass_8_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{191,15},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass_8_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{169,43},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass_8_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,12}</string>
                <key>spriteSourceSize</key>
                <string>{60,12}</string>
                <key>textureRect</key>
                <string>{{1,35},{60,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass_8_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{187,29},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>grass.png</string>
            <key>size</key>
            <string>{204,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86922d3005df7042b006a0a4589c0aee:02b9f1d0b08d5e6dc06ffe6d56de7d84:93931b76b1ed6e9db044e391779266da$</string>
            <key>textureFileName</key>
            <string>grass.png</string>
        </dict>
    </dict>
</plist>
