<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_bottom0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_bottom1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{1,19},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_bottom2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,16}</string>
                <key>spriteSourceSize</key>
                <string>{14,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{14,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bottom.png</string>
            <key>size</key>
            <string>{16,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74089017ae6c3e647d8e0d706763caa5:ed35bc2c1a4c8e7728dfbde1fb43be4e:a7dfeb96b96d10be30579cb060638497$</string>
            <key>textureFileName</key>
            <string>bottom.png</string>
        </dict>
    </dict>
</plist>
